# Development-related exclusions
.idea/

# Python stuff
*__pycache__/*
*__pycache__*
dist/
build/
*.egg-info/
*.egg

# Folders for extracted data
data/
results/
.DS_Store

# Relicts from older iterations of the paper
data/equations
NER_Berts
